@CHARSET "UTF-8";
body {
	color:#151515;
	margin:0;
	padding:0;
	line-height:20px;
	background:#FCFCFC;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
	font-family:Microsoft JhengHei;
	
}
.main,.top,.middle,.bottom{
	         width:95%;
	         height:auto;
	         margin-left:auto;
	         margin-right:auto;
	         
	         }

	    .top{
	    margin-left:auto;
	    margin-right:auto;
	    font-weight:900;
	    }
	    .middle{
	    background-color:#fcfcfc;
	    font-family:Microsoft JhengHei;
	    }
	    .bottom{
	    background-color:#fcfcfc;
	    font-family:Microsoft JhengHei;
	    }
	    table{
	    	font-size: 14px;
	    }
	    a:link { 
		color: blue; 
		text-decoration: none; 
		} 
		a:visited {
		color: blue;  
		text-decoration: none; 
		} 
		a:hover { 
		color: blue; 
 
		text-decoration: underline; 
		} 
	    /*top-start */
	    
	  
		.thread1 td {height:40px;border-bottom:1px solid #9999ff;border-right:1px solid #9999ff;text-align:center;}
		.thread2 td {height:40px;border-bottom:1px solid #9999ff;text-align:left;line-height:24px;}
		.tips{
			color: #51d;
    		text-decoration: none;
    		cursor: help;}
